@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    #logo-login{
        flex-direction: column;
        position: relative;
        left: 6px;
    }
    #card-hover{
        transition: transform 0.5s;
    }
    #card-hover:hover{
        transform: scale(1.1);
    }
    body{
        font-family: 'Josefin Sans', sans-serif;
    }
    nav{
        font-family: 'Poppins', sans-serif;
    }
    footer{
        font-family: 'Poppins', sans-serif;
    }
    .mx-w-c{
        max-width: 12rem;
    }
    .my-h-c{
        max-height: 12rem;;
    }
    .mx-c{
        margin-left: 35px;
        margin-right: 35px;
    }
    .mx-w-w{
        max-width: 13rem;
    }
}
