@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    #logo-login{
        flex-direction: column;
        position: relative;
        left: 6px;
    }
    #card-hover{
        transition: transform 0.5s;
    }
    #card-hover:hover{
        transform: scale(1.1);
    }
    body{
        font-family: 'Josefin Sans', sans-serif;
    }
    nav{
        font-family: 'Poppins', sans-serif;
    }
    footer{
        font-family: 'Poppins', sans-serif;
    }
    .mx-w-c{
        max-width: 15rem;
    }
    .my-h-c{
        max-height: 15rem;;
    }
    .mx-c{
        margin-left: 13px;
        margin-right: 13px;
    }
    .mx-w-w{
        max-width: 13rem;
    }
    .text-s{
        font-size: 10px;
        line-height: 14px;
    }
    .h-p{
        height: 375px;
    }
    .h-p-sm{
        height: 460px;
    }
    .h-p-md{
        height: 445px ;
    }
    .h-b{
        height: 345px;
    }
}
